.App {
  text-align: center;
}

.App-header {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#joinRoomHeader{
  background-color: indianred;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 300%;
}

#teams {
  display: flex;
  justify-content: space-between;
}

.team {
  text-align: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
}

#red{
  background-color: rgb(119, 14, 14);
  color: white;
  border: 5px solid black;
}

#blue{
  background-color: rgb(14, 14, 119);
  color: white;
  border: 5px solid black;
}

#none{
  background-color: rgb(119, 119, 119);
  color: white;
  border: 5px solid black;
}

#TeamButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: scale(2);
  gap: 100px;
}


#joinRed {
  background-color: rgb(119, 14, 14);
  color: white;
}

#joinRed:hover {
  scale: 1.1;
  background-color: rgb(139, 47, 47)
}

#joinRed:active {
  scale: 1.1;
  background-color: rgb(51, 21, 21)
}

#joinBlue {
  background-color: rgb(14, 14, 119);
  color: white;
}

#joinBlue:hover {
  scale: 1.1;
  background-color: rgb(34, 34, 139)
}

#joinBlue:active {
  scale: 1.1;
  background-color: rgb(21, 21, 51)
}

#Disconnect {
  background-color: rgb(119, 119, 119);
  color: white;
  margin-top: 100px;
  margin-left:10px;
}

#startGame{
  background-color: green;
  color: white;
  scale:2;
  margin-top: 100px;
  margin-left:10px;
}

#startGame:hover {
  scale: 2.1;
  background-color: rgb(0, 128, 0)
}

#startGame:active {
  scale: 2.1;
  background-color: rgb(0, 51, 0)
}

#startGameDiv{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 100px;
}