.App {
  text-align: center;
}

.App-header {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#joinRoomHeader{
  background-color: indianred;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 280%;
}

#teams {
  display: flex;
  justify-content: space-between;
}

.team {
  text-align: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 180%;
}

#red{
  background-color: rgb(119, 14, 14);
  color: white;
  border: 5px solid black;
}

#blue{
  background-color: rgb(14, 14, 119);
  color: white;
  border: 5px solid black;
}

#none{
  background-color: rgb(119, 119, 119);
  color: white;
  border: 5px solid black;
}

#TeamButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: scale(2);
  gap: 100px;
}


#joinRed {
  background-color: rgb(119, 14, 14);
  color: white;
}

#joinRed:hover {
  scale: 1.1;
  background-color: rgb(139, 47, 47)
}

#joinRed:active {
  scale: 1.1;
  background-color: rgb(51, 21, 21)
}

#joinBlue {
  background-color: rgb(14, 14, 119);
  color: white;
}

#joinBlue:hover {
  scale: 1.1;
  background-color: rgb(34, 34, 139)
}

#joinBlue:active {
  scale: 1.1;
  background-color: rgb(21, 21, 51)
}

#Disconnect {
  background-color: rgb(119, 119, 119);
  color: white;
  margin-top: 100px;
  margin-left:10px;
}

#startGame{
  background-color: green;
  color: white;
  scale:2;
  margin-top: 100px;
  margin-left:10px;
}

#startGame:hover {
  scale: 2.1;
  background-color: rgb(0, 128, 0)
}

#startGame:active {
  scale: 2.1;
  background-color: rgb(0, 51, 0)
}

#startGameDiv{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 100px;
}

/* GAME APP CSS */

.gameApp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c1a7a7;
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gameAppNext{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.cardTexts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 20vh;
}

.cardTexts h2{
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  margin-top: 10px;
}

.cardText{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: blue;
  height: 40vh;
}

.cardT{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 3px solid black;
  font-size: 200%;
}

.cardText #t1{
  color: rgb(191, 66, 143);
  background-color: #7eb4e2;
}

.cardText #t2{
  color: #7eb4e2;
  background-color: rgb(191, 66, 143);
}

h1 {
  font-size: 300%;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  margin-top: 10px;
}

.teamPoints{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.team{
  background-color: #fbe8b7;
  margin: 10px;
  border-radius: 20%;
  border: 10px solid rgba(107, 69, 8, 0.874);
}

#team1{
  color: blue;
}

#team2{
  color: red;
}

h2{
  font-size: 100%;
}

h3{
  font-size: 70%;
}

ol{
  counter-reset: item;
  list-style-type: none;
  line-height: 2.2;
  margin-left: -40px;
}

ol li{
  display: block;
  position: relative;
}

ol li span{
  margin-left: 30px;
  font-family: 'Lucida Handwriting';
  font-size: 50%;
}

ol li::before{
  content: counter(item) " ";
  counter-increment: item;
  color: #7eb4e2;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  background: #dccb9e;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: 30%;
  font-weight: 600;
  font-size: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#team1 ol li:before{
  color: blue;
  border: 2px solid blue;
}

#team2 ol li:before{
  color: red;
  border: 2px solid red;
}

ol .teamNameListElementLeft{
  color:gray;
}

.chat{
  background-color: rgb(255, 255, 255);
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.chatBox{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  border-bottom: 1px solid black;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  box-sizing: border-box;
}

#chatInput{
  flex:1;
  height: 100%;
  font-size: 16px;
  border: 1px solid black;  
  border-radius: 4px;
  box-sizing: border-box;
}

.sendButton{
  background-color: rgb(214, 224, 214);
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:hover{
  background-color: rgb(184, 194, 184);
}

.chatMessage{
  display: flex;
  flex-direction: row;
  width: 100%;
}