body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  width: 100%;
}

.App-header p{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.App-header input{
  height: 3%;
}

.App-header button{
  margin-top: 20vh;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50;
  border-radius: 10px;
  height: 10vh;
  width: 20vh;
}

.App-header button:hover{
  background-color: #45a049;
}

.App-header button:active{
  background-color: #3e8e41;
}

#joinRoomHeader{
  background-color: indianred;
}

h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 280%;
}

.WaitingRoomMainDiv{
  background-color: #e5d8d8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

#waitingHeader{
  margin-top: -1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap:20vw;
  width: 100%;
  height: 10%;
  margin-bottom: 10vh;
  border-bottom: 5px solid black;
  background-color: antiquewhite;
}

#waitingHeader h2{
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 10vh;
}

#waitingHeader button{
  height: 5vh;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

#waitingHeader button:hover{
  background-color: #d0d9d1;
}

#teams {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10vw;
  margin-top: -10vh;
}

.team {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  width: auto;
  height: 100%;  
}

.team ul{
  color: black;
}

#red{
  background-color: rgb(119, 14, 14);
  color: white;
  border: 5px solid black;
}

#blue{
  background-color: rgb(14, 14, 119);
  color: white;
  border: 5px solid black;
}

#none{
  background-color: rgb(119, 119, 119);
  color: white;
  border: 5px solid black;
}

.team ul{
  text-shadow:
  -1px -1px 0 #fffafa,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
  font-weight: bold;
}

#TeamButtons {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  transform: scale(3);
  gap: 100px;
}

#joinRed {
  background-color: rgb(119, 14, 14);
  color: white;
}

#joinRed:hover {
  scale: 1.1;
  background-color: rgb(139, 47, 47)
}

#joinRed:active {
  scale: 1.1;
  background-color: rgb(51, 21, 21)
}

#joinBlue {
  background-color: rgb(14, 14, 119);
  color: white;
}

#joinBlueInvis{
  background-color: rgb(14, 14, 119);
  color: white;
  visibility: hidden;
}

#joinRedInvis{
  background-color: rgb(119, 14, 14);
  color: white;
  visibility: hidden;
}

#joinBlue:hover {
  scale: 1.1;
  background-color: rgb(34, 34, 139)
}

#joinBlue:active {
  scale: 1.1;
  background-color: rgb(21, 21, 51)
}

#DisconnectDiv {
  display: flex;
  justify-content: flex-start;
  margin-top: 10vh;
  width: 100%;
}

#Disconnect {
  background-color: rgb(119, 119, 119);
  color: white;
  margin-top: 100px;
  margin-left:10px;
}

#startGame{
  background-color: green;
  color: white;
  scale:4;
  margin-top: 100px;
  margin-left:10px;
  margin-bottom: -10vh;
}

#startGame:hover {
  scale: 4.1;
  background-color: rgb(0, 128, 0)
}

#startGame:active {
  scale: 4.1;
  background-color: rgb(0, 51, 0)
}

#startGameDiv{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 100px;
}

/* GAME APP CSS */

.gameApp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c1a7a7;
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gameAppNext{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.cardTexts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 20vh;
}

.cardTexts h2{
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  margin-top: 10px;
}

.cardText{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: blue;
  height: 40vh;
}

.cardT{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 3px solid black;
  font-size: 200%;
}

.cardText #t1{
  color: rgb(191, 66, 143);
  background-color: #7eb4e2;
}

.cardText #t2{
  color: #7eb4e2;
  background-color: rgb(191, 66, 143);
}

h1 {
  font-size: 300%;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  margin-top: 10px;
}

.teamPoints{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.teamGame{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fbe8b7;
  text-align: center;
  margin: 10px;
  border-radius: 0%;
  border: 10px solid rgba(107, 69, 8, 0.874);
  font-size: 200%;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

#team1{
  color: blue;
}

#team2{
  color: red;
}

#teamCoop{
  color: purple;
}

.teamGame h2{
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.teamGame h3{
  font-size: 70%;
  margin: 0;
  padding: 0;
}

.teamGame ol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  counter-reset: item;
  list-style-type: none;
  line-height: 2.2;
  margin: 0;
  margin-left: -40px;
}

ol li{
  display: block;
  position: relative;
  padding: 0;
  margin-top: -15px;
  margin-bottom: -15px;
  width: 100%;
}

ol li span{
  margin-left: 30px;
  font-family: 'Lucida Handwriting';
  font-size: 50%;
}

ol li::before{
  content: counter(item) " ";
  counter-increment: item;
  color: #7eb4e2;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  background: #dccb9e;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: 30%;
  font-weight: 600;
  font-size: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#team1 ol li:before{
  color: blue;
  border: 2px solid blue;
}

#team2 ol li:before{
  color: red;
  border: 2px solid red;
}

#teamCoop ol li:before{
  color: purple;
  border: 2px solid purple;
}

ol .teamNameListElementLeft{
  color:gray;
}

.chat{
  background-color: rgb(255, 255, 255);
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.chatBox{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  border-bottom: 1px solid black;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  box-sizing: border-box;
}

#chatInput{
  flex:1;
  height: 100%;
  font-size: 16px;
  border: 1px solid black;  
  border-radius: 4px;
  box-sizing: border-box;
}

.sendButton{
  background-color: rgb(214, 224, 214);
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:hover{
  background-color: rgb(184, 194, 184);
}

.chatMessage{
  display: flex;
  flex-direction: row;
  width: 100%;
}